<style>
    .footer{
        width: 100vw;
        height: 50px;         
        background: black;
        color: rgb(35, 53, 212);
        position: fixed; 
        bottom: 0;
        padding: 1%;
        margin-top: 10px;
    }
</style>

<nav class="footer">
    footer
</nav>