<div class="card">
  <div class="card-body">
    <h1>{{postagem.titulo}}</h1>
    <hr>
    <h2>{{postagem.slug}}</h2>
    <small>Data de publicação: <b>{{postagem.data}}</b></small>
    <hr>
    <p>{{postagem.conteudo}}</p>
    <a href="/"><button class="btn btn-success">Voltar</button></a>
     
  </div>
</div>


